.bookCard {
  height: 90%;
  padding: 5%;
  position: relative;
}

.link {
  color: black;
}

a:link {
  text-decoration: none;
  color: black;
}

.figure {
  width: 80%;
  height: 70%;
}

.like {
  padding-left: 100%;
  width: 20%;
  height: 20%;
  z-index: 10;
}
