.bookList__list {
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(5, 18.4%);
  gap: 2%;
}

.bookList {
  background-color: #f1f1f1;
}

.test {
  text-align: center;
  height: 90%;
  border-radius: 5px;
  background-color: #d9d9d9;
  margin-bottom: 10%;
}

.button {
  width: 236px;
  height: 76px;
  font-family: Amatic SC;
  font-size: 30px;
  text-align: center;
  margin-top: 2%;
}

.message {
  width: 442px;
  height: 76px;
  font-family: Amatic SC;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  border: 1px;
  margin-right: 25px;
  margin-left: 25px;
}

.text {
  width: 442px;
  height: 76px;
  font-family: Amatic SC;
  font-size: 30px;
  text-align: center;
}

.component {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.link {
  color: black;
}